

.navbar-brand {
	color: green;
	font-family: 'Luckiest Guy', cursive;
	font-size: 40px;
	margin-top: 25px;
	text-shadow: 0 0 3px #ADFF2F;
}


.nav-link {
	font-size: 18px;
	margin-top: 25px;
	margin-right: 40px;
}
h1 {
	color: orange;
}

.carousel{
    margin-top: 20px;
    height: 480px;

}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
        border-radius: 20px;
}
.bs-example{
	margin: 20px;
}


.tweets {
	position: relative;
    left: 730px;
}